-- EASY

;g_godMode = 1 // God Mode
;g_playerFallAndPlay = 1 // When enabled, the player doesn t die from direct damage, but goes to fall and play
;i_unlimitedammo = 1 // Infinite Ammunition
;v_goliathmode = 1 // Toggle Vehicle Invincibility
;g_unlockAllMissions = 1 // unlock All Missions
;i_noweaponlimit = 1 // No Weapon limit
;g_suitCloakEnergyDrainAdjuster = 0 // No Energy loss
;g_suitRecoilEnergyCost = 0 // No Energy cost
;g_playerHealthValue = 900.0 // Extra Health
;g_playerSuitArmorModeHealthRegenTime = 0 // Instant Health regen
;g_playerSuitArmorModeHealthRegenTimeMoving = 0 // Instant Health regen while moving
;g_playerSuitEnergyRechargeTimeArmor = 0 // Instant Energy
;g_playerSuitEnergyRechargeTimeArmorMoving = 0 // Instant Energy while moving
;g_suitArmorHealthValue = 900.0 // More Armor Points
;g_suitSpeedMult = 2.85 // Run faster
;hud_nightVisionConsumption = 0 // Infinite nightvision
;g_playerSuitHealthRegenTime = 0 // Set Health regen time to 0
;g_playerSuitHealthRegenTimeMoving = 0 // Set regen time while walking to 0
;g_difficultyLevel = 1 // Set difficulty, "1" is easy, "4" is most difficult
;ai_IgnorePlayer = 1 // AI ignores player
;g_playerSuitHealthRegenDelay = 0 // No waiting until regen starts
;g_playerSuitEnergyRechargeTime = 0 // Set Energy regen time to 0
;g_playerSuitEnergyRechargeDelay = 0 // Do not wait until Energy regen starts
;g_suitSpeedEnergyConsumption = 1 // Speed suit never runs out of energy
;time_scale = [* Insert Number *] // Rate at which time passes; "1" is default
;g_meleeWhileSprinting = 1 // Toggle melee attacks while sprinting
;pl_fallDamage_SpeedFatal = [* Insert Number *] // Fall speed in meters/second that causes death; "13.7" is default
;pl_fallDamage_SpeedSafe = [* Insert Number *] // Maximum speed in meters/second at which you take no damage; "8" is default
;pl_swimBaseSpeed = [* Insert Number *] // Set swim speed; "4" is default
;pl_swimJumpSpeedBaseMul = [* Insert Number *] // Set speed at which you jump out of water; "1" is default
;g_walkmultiplier = [* Insert Number *] // Walking movement speed; "1" is default
;cl_strengthscale = [* Insert Number *] // Multiplies punch strength by this factor; "1" is default
;ai_UseAlternativeReadability = 0 // Koreans speak in Korean
;r_displayinfo = 1 // Toggle frame rate display

-- AI Detection speed
ai_SOMSpeedRelaxed = 0.7
ai_SOMSpeedCombat = 0.4

-- Alive time
ai_RODAliveTime = 4.5
ai_RODMoveInc = 2.0
ai_RODStanceInc = 2.0
ai_RODDirInc = 2.0
ai_RODAmbientFireInc = 4.0
ai_RODKillZoneInc = -1.0

-- AI fire reaction time
ai_RODReactionTime = 0.8
ai_RODReactionDistInc = 0.8
ai_RODReactionLeanInc = 0.2
ai_RODReactionDirInc = 0.3

ai_DrawFireEffectTimeScale = 0.4

-- Cover fire time modifier (cover fire time specified in weapon)
ai_RODCoverFireTimeMod = 1.0

-- ROD ranges - percents of attackRange AI property
ai_RODKillRangeMod = 0.2
ai_RODCombatRangeMod = 0.8

-- Ambient fire, enemies not in the quota cannot hit the player.
ai_AmbientFireUpdateInterval = 0.5
ai_AmbientFireQuota = 2

-- Low Health effect duration and Health threshold
ai_RODLowHealthMercyTime = 3.5
g_playerLowHealthThreshold = 40

-- Checkpoint load mercy time duration
ai_RODCheckpointMercyTime = 3.0

-- AI voice readability
ai_UseAlternativeReadability = 1

-- Health Base
g_playerHealthValue = 200.0


-- Suit Energy Base


-- Armor mode

-- Speed mode


g_difficultyLevel = 1
v_driverControlledMountedGuns = 1
g_hunterDoDamageWhenGrab = 40
g_hunterDoDamageWhenThrow = 40

aim_assistMaxDistance = 100
aim_assistMaxDistancetagged = 100
aim_assistMaxDistance_Ironsight = 100
aim_assistSnapRadiusScale = 12
aim_assistSnapRadiusTaggedScale = 12
aim_assistSlowDisableDistance = 140 // slowdown stops
aim_assistMinTurnScale = 0.25
aim_assistMinTurnScale_Ironsight = 0.25

g_freezeDamagePerSecond = 10

ai_RODSniperLethalFraction = 0.0

ai_CloakMinDist = 2
ai_CloakMaxDist = 4

g_RODFakeHitDamage = 1.0
ai_RODFakeHitChance = 0.1

ai_ScaleDamageIfToldNotToDamagePlayerTarget = 0.1
g_suitCloakEnergyDrainWhenDamaged = 1.0
